body {
    background-color: #ADD899;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#data {
    margin: 20px;
}

#controls {
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.containerChart {
    width: 50%;
    margin: auto;
    background-color: #FFDE95;
}